

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  position: relative;
}

.header-image {
  width: 100%;
  height: 100vh;
  background: url(assets/header-image.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  font-size: 60px;
  text-align: center;
  font-family: 'Tilt Prism', cursive;
  padding: 20vw;
  font-weight: 100;
}

/* Blurb styles */
.blurb {
  padding: 50px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
}


 
/* (B) GALLERY WRAPPER */
.gallery {
  /* (B1) GRID LAYOUT - 3 IMAGES PER ROW */
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
 
  /* (B2) OPTIONAL WIDTH RESTRICT */
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

/* (C) GALLERY IMAGES */
.gallery img {
  /* (C1) DIMENSION */
  width: 100%;
 
  /* (C2) COLORS */
  border: 1px solid #ddd;
  background: #fff;
 
  /* (C3) IMAGE RESIZE */
  /* cover | contain | fill | scale-down */
  object-fit: fill;
  position: relative;
}

/* (D) ON SMALL SCREENS - 2 IMAGES PER ROW */
@media only screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
}

/* (E) OPTIONAL ZOOM ON HOVER */
.gallery img:hover {
  z-index: 9;
  transform: scale(1.3);
  /* linear | ease | ease-in | ease-out | ease-in-out */
  transition: transform ease-in-out 0.5s;
}


